@model MvcApplication4.Models.SearchModel
@{
    ViewBag.Title = "דף הבית";
}

<h2>@ViewBag.Message</h2>
@if(Request.IsAuthenticated)
{
    <div>
        <fieldset>
            <legend>SLT</legend>

            <div class="editor-label">
                @Html.LabelFor(m => m.Day)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.Day)
                @Html.ValidationMessageFor(m => m.Day)
            </div>

            <div class="editor-label">
                @Html.LabelFor(m => m.City)
            </div>
            <div class="editor-field">
                @Html.PasswordFor(m => m.City)
                @Html.ValidationMessageFor(m => m.City)
            </div>

            <div class="editor-label">
                @Html.LabelFor(m => m.Sex)
                @Html.CheckBoxFor(m => m.Sex)
                
            </div>

            <p>
                <input type="submit" value="כניסה" />
            </p>
        </fieldset>
    </div>
}
else
{
    <p>
    .על מנת להגיע למנועי החיפוש יש להתחבר תחילה
    </p>
}